.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  width: 600px;
  height: 600px;
  border: solid 1px black;
}
.content {
  display: flex;
}
.cell,
.row {
  border: 1px solid rgba(0, 0, 0, 0.048);
  width: 58px;
  height: 58px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-ships,
.player-control {
  display: flex;
  gap: 50px;
}
.unclickable {
  pointer-events: none;
}
#hit {
  background-color: brown;
}
.missed-hit {
  background-color: purple;
}
.correct-hit {
  background-color: bisque;
}
.ship-style{
  background-color: aqua;
}
.invalid-placement:hover {
  background-color: deeppink;
}
.can-start {
  display: none;
}